.register-page
{  background: rgb(39,41,61);
    .square
    {
        background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);;
        position : absolute;
        transition: 0.5s ease-out;
        border-radius: 30%;
    }
    .square-1
    {
        height: 300px;
        width: 300px;
        opacity: 0.8;
        top: 175px;
        right: 150px;
        opacity: 0.8;
    }
    .square-2
    {
        height: 100px;
        width: 100px;
        opacity: 0.8;
        top: 310px;
        right: 390px;
    }
    .square-3
    {
        height: 200px;
        width: 200px;
        opacity: 0.3;
        top: -50px;
       right: 400px;

    }
    .square-4
    {
        height: 200px;
        width: 200px;
        opacity: 0.8;
        right: -50px;
        top: 525px;
    }
    .square-5
    {
        height: 140px;
        width: 140px;
        opacity: 0.5;
        top: 500px;
        right: 470px;
    }
    .square-6
    {
        height: 140px;
        width: 140px;
        opacity: 0.9;
        top: 105px;
       right: 30px;
    }
}
.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    .page-header-image {
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
}
}